body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-family:  "Helvetica", sans-serif;
    font-size: 80px;
}

ul {
    font-family: "Arial",sans-serif;
    line-height: 200%;
    font-size: 40px;
    text-align: center;
    list-style-type: none;
}

ul.ingredients{
    font-size: 20px;

}
a {
    color: white;
    
}

#recipe-image {
    height: 400px;
    width: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }